.container {
    max-width: 100%;
    height: 730px;
    padding: 20px;
    background: linear-gradient(to right,#66a9ec,#79bcff);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table Title Styling */
.table-title {
    font-weight: bold;
    font-size: 30px;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}


/* Custom Table Styling */
.custom-table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background: white;
}

.custom-table thead {
    background: #007bff;
    color: white;
    text-align: left;
}

.custom-table thead th {
    font-size: 18px;
    padding: 12px;
    border-bottom: 2px solid #ddd;
}

.custom-table tbody tr {
    transition: background-color 0.3s;
}

.custom-table tbody tr:hover {
    background-color: #f1f1f1;
}

.custom-table tbody td {
    padding: 12px;
    font-size: 17px;
    color: #242424;
    border-bottom: 1px solid #ddd;
}

/* Table Cell Styling */
th {
    background-color: #ebebeb;
    color: #505050;
    font-weight: bold;
    font-size: 18px;
    padding: 12px;
    text-align: left;
}

td {
    background-color: white;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

/* Error Message Styling */
.alert-danger {
    font-size: 16px;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Span Styling */
span{
    background-color: white;
    font-weight: bold;
    color: #666666;
}
.date{
    display: flex;
    justify-content: right;
    justify-items: right;
}

.add-user-btn {
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.add-user-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}
