.nav-item {
    position: relative;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.125) !important;
    overflow: hidden; 
}

.nav-item a {
    position: relative;
    display: block;
    color: #595959 !important;
    padding: 10px 15px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-item a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #0067DF; 
    transition: width 0.3s ease-in-out;
    z-index: -1;
}

.nav-item:hover a::before {
    width: 100%;
}

.nav-item.active > a, 
.nav-item:hover > a {
    color: white !important; 
    position: relative;
    z-index: 1;
}
